*{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 550;
    color:white;
}

html{
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body{
    background-color: coral;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
}